<p-confirmPopup [key]="'popup-category-items'"></p-confirmPopup>

<div class="p-grid">
    <p-card  class="grid-dialog">
        <form [formGroup]="objGrb.form"  autocomplete="off" >
            <div class="p-grid " style="min-height: 80px;">
                <div class="p-field p-sm-1">
                    <label for="id" class="required">{{'columns.id' | translate}}</label>
                    <input type="text" pInputText id="id" formControlName="id"  />
                  </div>
                <div class="p-field p-sm-3" >
                    <label for="nombre" class="required">{{'columns.name' | translate}}</label>
                    <input id="nombre" pInputTextarea  formControlName="nombre"  required rows="1" cols="40" />
                    <small *ngIf="objGrb.form.controls.nombre.invalid && (objGrb.form.controls.nombre.dirty || objGrb.form.controls.nombre.touched)"
                        class="p-error">Valor requerido.</small>
                </div>
                <div class="p-field p-sm-3" >
                    <label for="descripcion" class="required">{{'columns.description' | translate}}</label>
                    <input id="descripcion" pInputTextarea  formControlName="descripcion"  required rows="1" cols="40" />
                    <small *ngIf="objGrb.form.controls.descripcion.invalid && (objGrb.form.controls.descripcion.dirty || objGrb.form.controls.descripcion.touched)"
                        class="p-error">Valor requerido.</small>
                </div>
                <div class="p-field p-sm-2" >
                    <label for="codigo">{{'columns.code' | translate}}</label>
                    <input id="codigo" pInputTextarea  formControlName="codigo"  required rows="1" cols="40" />
                </div>
                <div class="p-field p-sm-1" style="text-align: center;">
                    <label for="estado" class="required">{{'columns.status' | translate}} </label><br>
                    <p-inputSwitch formControlName="estado"> </p-inputSwitch>
                </div>
                <div class="p-field p-sm-2" style="text-align:right;">
                    <button pButton type="button"  icon="pi pi-check-circle" class="p-button-text p-button-raised"  pTooltip="Añadir" tooltipPosition="top"
                         style="margin-right: 5px; margin-top: 15px;" (click)="saveData()" ></button>
                    <button pButton type="button" style="margin-top: 15px;"  icon="pi pi-times-circle" class="p-button-text p-button-raised"  pTooltip="Cancelar" tooltipPosition="top"
                    (click)="renderForm(null,false)"></button>
                </div>
            </div>
        </form>


        <p-table #dt [value]="objGrb.localCategoryDT.categoryItemsList" dataKey="id" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="250px" > <!-- [loading]="loading" -->
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col" [style]="{'width':'10%'}">{{'columns.id' | translate}}</th>
                        <th scope="col" [style]="{'width':'17%'}">{{'columns.name' | translate}}</th>
                        <th scope="col" [style]="{'width':'25%'}">{{'columns.description' | translate}}</th>
                        <th scope="col" [style]="{'width':'17%'}">{{'columns.code' | translate}}</th>
                        <th scope="col" [style]="{'width':'15%'}">{{'columns.status' | translate}}</th>
                        <th scope="col" [style]="{'width':'15%'}">{{'columns.actions' | translate}}</th></tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td [style]="{'width':'10%'}">{{row.id}}</td>
                        <td [style]="{'width':'17%'}">{{row.nombre}}</td>
                        <td [style]="{'width':'25%'}">{{row.descripcion}}</td>
                        <td [style]="{'width':'17%'}">{{row.codigo}}</td>
                        <td [style]="{'width':'15%'}">
                            {{row.estado ? 'Activo' : 'Inactivo'}}
                        </td>
                        <td [style]="{'width':'15%', 'padding':'0px'}">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text" pTooltip="Editar" tooltipPosition="top"
                                styleClass="p-button-sm" (click)="renderForm(row,true)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr><td colspan="6">No se encontraron registros.</td></tr>
                </ng-template>
        </p-table>

    </p-card>
</div>
<p-footer class="cls-ftr-rght">
    <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-text p-button-rounded p-button-raised" (click)="hideDialog()" ></button>
</p-footer>
