.cls-ftr-rght {
    float: right !important;
    padding-top: 20px !important;
    margin-bottom: -10px !important;
    padding-bottom: 20px;
}


.grid-dialog {
    min-height: 70px;
    width: -webkit-fill-available;
}