<p-card header="{{componentTitle}}" [style]="{'margin-bottom': '2em', 'width':'100%'}">
  <div class="cstm-card">
    <div class="p-grid" style="margin-top: -20px;">
        <p-card style="width:100%">
          <div class="p-grid">
            <p-table [columns]="cols" [value]="todos" responsiveLayout="scroll" class="tblStyle">
              <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th scope="col" id="id">{{'#'}}</th>
                    <th *ngFor="let col of columns"> {{col.header}} </th>
                    <th scope="col">Action</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-index="i" let-columns="columns" >
                  <tr>
                    <td> {{ i+1 }}</td>
                    <td *ngFor="let col of columns">{{rowData[col.field]}}</td>
                    <td><p-checkbox [value]="rowData"
                        [(ngModel)] ="rowData['is_complete']"
                        (onChange)="onChangeRow($event, rowData)"
                        binary="true" ></p-checkbox></td>
                  </tr>
              </ng-template>
          </p-table>
          </div>
        </p-card>
    </div>
  </div>
</p-card>


