

:host ::ng-deep .p-card .p-card-footer {
  text-align: -webkit-right;
}

:host ::ng-deep  .avatar {
  border-radius: var(--custom-border-radius);
  overflow: hidden;
  max-width: 100%;
}
:host ::ng-deep  .avatar.image {
  object-fit: cover;
}
:host ::ng-deep  .avatar.no-image {
  background-color: #333;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}
