<div class="layout-profile avatarCustomStyle" >
  <a class="layout-profile-button" href="javascript:fileAvatar.click()" (click)="inlineUserMenuActive = !inlineUserMenuActive">
    <div (click)="fileAvatar.click()">
      <img class="avatarCustomStyle" [src]="_avatarUrl" alt="user_avatar">
    </div>
      <div class="layout-profile-userinfo" style="margin-top: -22px;">
          <p class="layout-profile-name">{{ uploading ? 'Uploading ...' : '' }}</p>
          <input
            #fileAvatar
            style="visibility: hidden;"
            type="file"
            id="single"
            accept="image/*"
            (change)="uploadAvatar($event)"
          />
      </div>
  </a>
</div>
